.display{
  
  color: rgba(30, 30, 30, 1);
  /* background-image: url(../assets/bg.png) 200px 0px 0px 0px; */
  
}
.bars{
  display: none;
  /* align-items: center; */
  border: none;
  background-color: white;
  text-align: center;

}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 30px 120px 0px;

  
}  
.menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  
}
@media screen and (max-width:576px) {
  .navbar, .menu{
    flex-direction: column;
    display: block;
    
  }
  
}
nav li a{
  text-decoration: none;
}
.menu-btn{
  margin-left: 220px;
}
.menu-title{
  margin-right: 150px;
  font-weight: 700;
  font-size: 1.5rem;
}
.menu-1{
  color: #FEA301;
}
.menu-2{
  color: #01ACFD;
}
.menu-3{
  color: #05D4DF;
}
.menu-4{
  color: #5D58EF;
}
.menu-btn{
  font-weight: 500;
  font-size: 1rem;
  background-color:#FEA301 ;
  color: white;
  border-radius: 12px;
  padding: 8px 25px;
  border: none;
}
.banner{
  display: flex;
  margin-top: 50px;
  margin: 50px 120px 30px 120px;
  
}
@media screen and (max-width:576px) {
  .banner{
    flex-direction: column-reverse

  }
  
}
.banner-title{
  font-weight: 700;
  font-size: 2.9rem;
}
.banner-btn{
  font-weight: 500;
  font-size: 1rem;
  background-color:black ;
  color: white;
  border-radius: 12px;
  padding: 8px 25px;
  border: none;
}
.empower{
  color: orange;
}
.vision{
  color: skyblue;
}
.hero{
  /* margin-left: 80px; */
}
.title{
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 100px 0px;
  
}
.main{
  background-image: url(../assets/bg.png);
  /* background-image: 0px auto; */
  /* width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.main-1{
  display: flex;
  text-align: center;
  gap: 40px;
  max-width: 1200px;
  align-content: center;
}
.box-1{
  padding: 2px ;
  background-color: #DEF5FF;
  border-radius: 16px;
  height: 400px;
  width: 750px;
  margin-left: 120px;
  background-image: linear-gradient(#DEF5FF , white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.box-2{
  padding: 2px ;
  background-color: #FFF4DC;
  border-radius: 16px;
  height: 400px;
  width: 750px;
  background-image: linear-gradient(#FFF4DC , white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.box-3{
  padding: 2px ;
  background-color: #F2E8FF;
  border-radius: 16px;
  height: 400px;
  width: 750px;
  background-image: linear-gradient(#F2E8FF , white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.box-title{
  font-weight: 700;
  font-size: 1.5rem;
}
.box-footer-1{
  font-weight: 700;
  font-size: 1rem;
  color: #64C8FF;
}
.box-footer-2{
  font-weight: 700;
  font-size: 1rem;
  color: #F0AA00;
}
.box-footer-3{
  font-weight: 700;
  font-size: 1rem;
  color: #8700FF;
}
.angle-icon{
  display: flex;
  margin: 80px 0px;
  gap: 10px;
  justify-content: center;
}
.angle-icon-1{
  background-color: orange;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 15px 15px;
  font-size: 1.5rem;
}
.angle-icon-2{
  background-color: orange;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 15px 15px;
  font-size: 1.5rem;
}

@media screen and (max-width:576px) {
  .main-1, .angle-icon {
    flex-direction: column;
  }
  
}
.stories{
  display: flex;
  gap: 30px;
  position: relative;

 
}
.stories-1{
  /* max-width: 530;
  max-height: 630; */
  border: 1px;
  border-radius: 15px;
  background-color:white;
  margin:0px 0px 0px 120px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;

}
.stories-1-img{
  height: 300px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.stories-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  
  margin-right: 120px;
  border-radius: 15px;
  background-color: white;
}
.stories-3{
  /* gap: 30px; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.stories-4{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.stories-5{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.stories-6{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.stories-2-img{
  height: 130px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.stories-1-title{
  font-weight: 700;
  font-size: 1.5rem;
}
.stories-footre{
  font-weight: 600;
  font-size: 1rem;
}
.btn-2{
  font-weight: 500;
  font-size: 1rem;
  background-color:#3CD8E8 ;
  color: white;
  border-radius: 30px;
  padding: 8px 25px;
  border: none;
  margin-left: -270px;
  margin-top: -25px;
  position: absolute ;
}
.btn-3{
  font-weight: 400;
  font-size: .7rem;
  background-color:#95B226 ;
  color: white;
  border-radius: 30px;
  padding: 7px 10px;
  border: none;
  margin-left: -60px;
  margin-top: -20px;
  position: absolute ;
}
.btn-4{
  font-weight: 400;
  font-size: .7rem;
  background-color:#5D58F0 ;
  color: white;
  border-radius: 30px;
  padding: 7px 10px;
  border: none;
  margin-left: -60px;
  margin-top: -20px;
  position: absolute ;
}
.btn-5{
  font-size: .7rem;
  background-color:#95B226 ;
  color: white;
  border-radius: 30px;
  padding: 7px 10px;
  border: none;
  margin-left: -60px;
  margin-top: -20px;
  position: absolute ;
}
.btn-6{
  font-size: .7rem;
  background-color:#95B226 ;
  color: white;
  border-radius: 30px;
  padding: 7px 10px;
  border: none;
  margin-left: -60px;
  margin-top: -20px;
  position: absolute ;
}

.footer-btn{
  text-align: center;
  margin: 70px 0px;
 
}
.footer{
  display: flex;
  padding: 50px;
  background-color: #01ACFD;
  color: white;
  justify-content: space-between;
  
}
.footer-1{
  /* height: 50px;
  width: 50px; */
  margin-left: 60px;
}
.footer-11{
  display: flex;
  
}
.footer-12{
  /* text-decoration: none;
  align-items: center;
  text-align: start; */


}
/* div ul li{
  text-decoration: none;
} */
